{% load static %}
<link rel="stylesheet" href="{% static './assets/css/category.css' %}">
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-block">
                    <li><a href="https://www.instagram.com/aspekt.de/?hl=ru" target="_blank"><i class="ion-social-instagram"></i></a></li>
                    <li><a href="http://wa.me/996779599822" target="_blank"><i class="ion-social-whatsapp"></i></a></li>
                </ul>
                <p class="site-info">Copyright © aspekt.kg, 2022. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>